<legend class="text-center header">Articles</legend>
<h4 class="text-center">Hello <%= current_user.username %></h4>
<% if logged_in? %>
  <div class ="div_center">
    <h5 class="text-center">Your blog has <%= @user_articles.count %> articles and counting!</h5>
    <%= link_to(new_article_path, class: "btn btn-primary btn-sm pull-right") do %>
      New Article  <i class="bi bi-plus-circle-fill"></i>
    <% end %>
  </div>
  <%= render "show_articles", articles: @user_articles %>
<% else %>
  <div class="div_center alert alert-warning">
    <span class="text-center">Please log in to your account to create articles!</span>
  </div>
<% end %>
<br>
<h4 class="text-center">See other users article</h4>

<%= render "show_articles", articles: @articles %>
