<legend class="text-center header">Articles</legend>  

<<<<<<< HEAD
<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <!-- <a href="/articles/<%=article.id%>"> -->
        <!--
        <a href="<%= article_path(article) %>">
          <%= article.title%>
        </a>
        -->
        <%= link_to article.title, article%>
      </li>
    <% end %>
=======
<h4 class="text-center">Hello <%=@user_name%></h4>

<div class ="div_center">
  <h5 class="text-center">Your blog has <%= @count %> articles and counting!</h5>
  
  <%= link_to(new_article_path, class: "btn btn-primary btn-sm pull-right") do %>
    New Article  <i class="bi bi-plus-circle-fill"></i>
>>>>>>> First styling to the interface
  <% end %>
</div>


<%= render "show_articles", articles: @user_articles%>

<br>

<h4 class="text-center">See other users article</h4>

<<<<<<< HEAD
<%= link_to "New Article", new_article_path%>
=======
<%= render "show_articles", articles: @articles%>
>>>>>>> First styling to the interface
