<div class ="container">
  <div class="card">
    <div class="card-header">
      <legend class="text-center header"><%= @article.title %></legend>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @article.body %></p>
    </div>
    <div class="card-footer text-muted">
      <%= "#{@article.created_days_ago} days ago" %>
      <%= link_to "Edit", edit_article_path(@article) %> </li>
      <%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %> </li>
      Autor:
      <%= link_to @author.username, "/users/view/#{@author.id}" %> </li>
    </div>
  </div>
</div>
<br>
<% unless logged_in? %>
  <div class="div_center alert alert-warning">
    <span class="text-center">Please log in to your account to comment this blogger!</span>
  </div>
<% end %>

<% if user_follows_blogger?(@author) %>
  <%= render "comments/form" %>
<% else %>
  <div class="div_center alert alert-warning">
    <span class="text-center">Follow the blogger to comment his articles!</span>
  </div>
<% end %>

<div class ="small-middle-container p-5 my-3 border">
  <% if @article.article_has_comments? %>
    <%= render @article.comments.reverse %>
  <% else %>
  <div class="div_center alert alert-warning">
    <span class="text-center">This article has no comments, be the first to comment!</span>
  </div>
  <% end %>
</div>
