<div class ="container p-5 my-3 border">
  <legend class="text-center header"><%= title %></legend>
  <% if defined?(submit_path) %>
    <%= form_with url: submit_path do |form| %>
      <% list_inputs.each do |input| %>
        <%= render input[:type], obj: obj, key: input[:value], form: form, select_list: input[:select_list] if defined?(input[:select_list]) %>
        <%= render input[:type], obj: obj, key: input[:value], form: form unless defined?(input[:select_list]) %>
      <% end %>
      <div>
        <%= form.submit submit_text, class: "btn btn-lg btn-primary" %>
      </div>
      <br>
      <%= link_to go_to_message, go_to_url if defined?(go_to_url) %>
    <% end %>
  <% else %>
    <%= form_with model: obj do |form| %>
      <% list_inputs.each do |input| %>
        <%= render input[:type], obj: obj, key: input[:value], form: form, select_list: input[:select_list] if defined?(input[:select_list]) %>
        <%= render input[:type], obj: obj, key: input[:value], form: form unless defined?(input[:select_list]) %>
      <% end %>
      <div>
        <%= form.submit submit_text, class: "btn btn-lg btn-primary" %>
      </div>
      <br>
      <%= link_to go_to_message, go_to_url if defined?(go_to_url) %>
    <% end %>
  <% end %>
</div>
